:root {
  --primary: #f4b400; /* Gold */
  --secondary: #1a2a40; /* Deep Navy */
  --accent: #ff6f61; /* Coral */
  --background: #faf3e0; /* Soft Cream */
  --text: #333333; /* Charcoal */
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

header,
header.navbar,
header .navbar {
  background-color: var(--secondary) !important;
  color: white !important;
}

.navbar,
.navbar-brand,
.navbar-nav,
.nav-link,
.navbar-toggler,
.navbar-collapse {
  color: white !important;
}

.nav-link.active {
  color: var(--accent) !important;
}

.navbar-nav .nav-link:hover {
  color: var(--accent) !important;
}

.navbar-nav .nav-link {
  font-family: "Lora", serif; /* elegant serif */
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.carousel,
.carousel-inner,
.carousel-item {
  height: 100vh;
}

.carousel-item img {
  height: 100vh;
  object-fit: cover;
  width: 100%;
}
